.container{
    border: 2px solid black;
    width:100vw;
    min-height: 630px;
}
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
  } 
  
  .navbar-brand {
    font-size: 3.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .navbar-links .nav-link {
    /* margin-left: 20px; */
    text-decoration: none;
    color: #333;
    font-size: 2.5rem;
    width: fit-content;
    display: inline-block;

  }
  
  .navbar-links .nav-link:hover {
    color: #007BFF;
    display: inline-block;
  }
  
  .content {
    margin-top: 20px;
    margin-left: 50px;
  }
  
  .dark-mode {
    background-color: #222;
    color: #fff;
  }
  
.toggle-button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
}

.toggle-button.dark {
  background-color: #222;
  color: #fff;
}

.toggle-button.light {
  background-color: #f0f0f0;
  color: #222;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button:hover {
  opacity: 0.8;
}
.home{
  margin-right:350px;
}

  