.container {
  border: 2px solid black;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #007BFF;
}

.navbar-links .nav-link {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
}

.navbar-links .nav-link:hover {
  color: #007BFF;
}

.content {
  margin-top: 20px;
}

.dark-mode {
  background-color: #222;
  color: #fff;
}

.toggle-button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  margin-left: 20px;
}

.toggle-button.dark {
  background-color: #222;
  color: #fff;
}

.toggle-button.light {
  background-color: #f0f0f0;
  color: #222;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button:hover {
  opacity: 0.8;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links .nav-link {
    margin-left: 0;
    margin-top: 10px;
  }

  .toggle-button {
    margin-left: 0;
    margin-top: 10px;
  }
}
